<div class="posts-field">
  <div class="search-field">
    <% if user_signed_in? %>
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :content, placeholder: "つぶやきを探す...", class: "search-form" %>
        <%= f.hidden_field :model, value: "post" %>
        <%= f.hidden_field :method, value: "partial" %>
        <%= button_tag(type: "submit", class:"btn-search") do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= form_with model: @post do |f| %>
    <%= f.text_area :body, placeholder: "最近あった出来事を教えて", class: "post-form" %>
    <p><%= f.submit 'つぶやく', class: "btn-normal" %></p>
  <% end %>
  <%= render 'public/posts/index', posts: @posts %>
  <%= paginate @posts %>
</div>