<div class="posts-field">
  <div class="search-field">
    <% if user_signed_in? %>
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.select :content_type, options_for_select([['名前', 'name'], ['アカウント名', 'account_name'], ['タグ', 'tag']], params[:content_type]), {}, {class: "search-content-type"} %>
        <%= f.text_field :content, placeholder: "ユーザーを探す...", class: "search-form-b" %>
        <%= f.hidden_field :model, value: "user" %>
        <%= f.hidden_field :method, value: "partial" %>
        <%= button_tag(type: "submit", class:"btn-search") do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="tab-field">
    <%= link_to "フォロー中", user_followings_path(@user.account_name), class: "tab" %>
    <p class="tab-selected">フォロワー</p>
  </div>
  <%= render 'public/users/index', users: @users %>
  <%= paginate @users %>
</div>