<div class="posts-field">
  <% if @model == 'post' %>
      <h2 class="form-title">「<%= @content %>」を含むつぶやき</h2>
    <%= render 'public/posts/index', posts: @records %>
  <% elsif @model == 'user' %>
      <h2 class="form-title"><%= @content_type_name %>に「<%= @content %>」を含むユーザー</h2>
    <%= render 'public/users/index', users: @records %>
  <% end %>
</div>