<table>
	<thead>
		<th>会員ID</th>
		<th>ニックネーム</th>
		<th>アカウント名</th>
		<th>会員ステータス</th>
		<th></th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.name %></td>
				<td><%= user.account_name %></td>
				<td>
					<% if user.is_active? %>
						<span class="text-active">有効</span>
					<% else %>
						<span class="text-invalid">退会済み</span>
					<% end %>
				</td>
				<td><%= link_to "編集", edit_admin_user_path(user.id) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<div class="page-field">
	<%= paginate @users %>
</div>